

.block {
  font-family: 'Roboto', sans-serif;
  font-size: $font-size;
  line-height: $line-height;
  @include font-smoothing(on);
  text-rendering: optimizelegibility;
  padding: $block-padding 0;
  color: $font-color;
  position: relative;
  background-size: cover;
  overflow: hidden;
  background: $white center;
}


footer {
  padding: 30px 0 !important;
  &.footer-small {
    padding: 0.5em 0 !important;
    font-size: .95em;
  }

  &.footer-large {
    padding: 100px 0 !important
  }

  .flex-column {
    .nav-link {
      padding-left: 0;
    }
  }

  &.bg-dark {
    background: #2b2b2b!important;
    color: mix($black, $white, 5%);

    a {
      color: mix($black, $white, 5%);
    }
  }

  a {
    color: $font-color;
  }
}




/* ----------------------------------------------------------------

	pagetitle.scss

-----------------------------------------------------------------*/




