#add-course, #add-test{
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    border: 1px solid #4CAF50;
    cursor: pointer;
    opacity: 1;
    position: initial;
    bottom: 180px;
    margin-left: 300px;
    width: 150px;
    border-radius: 40px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    background-image: linear-gradient(to bottom right, #000 0%, #17a2b8 50%, #17a2b8 50%, #17a2b8 66%);
}
#add-course:hover, #copy-course:hover{
    color: black;
    background-color: darkgreen;
}

.form-create, .form-copy{
    display: none;
    position: fixed;
    bottom: 0px;
    right: 100px;
    border: 3px solid #f1f1f1;
    z-index: 9;
}
.form-container {
    max-width: 500px;
    width: 400px;
    max-height: 600px;
    height: 500px;
    padding: 10px;
    background-color: white;
    font-size: 15px;
}
.form-container .create, .cancel, .copy{
    background-image: linear-gradient(to top left, #000 0%, #03bb7a 50%, #03cc85 50%, #03cc85 66%);
    color: white;
    padding: 16px 20px;
    border: 1px solid #4CAF50;
    cursor: pointer;
    width: 40%;
    margin-bottom:10px;
    opacity: 1;
    float: left;
    margin-left: 20px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 40px;
}


.cancel{
    background-image: linear-gradient(to bottom right, #000 0%, #e74c3c 50%, #e74c3c 50%, #e4606d 66%);
    margin-left: 20px;
    border: red;
}
.form-container input[type=text] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}
.form-container input[type=text]:focus {
    background-color: #ddd;
    outline: solid;
    outline-width: 0.5px;
}

.form-create h1, .form-copy h1{
    color: blue;
    text-align: center;
    font: 30px bold Arial;
}
/*copy course*/

#copy-course{
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    border: 1px solid #4CAF50;
    cursor: pointer;
    opacity: 1;
    position: center;
    bottom: 180px;
    margin-left: 0px;
    width: 150px;
    border-radius: 40px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    background-image: linear-gradient(to bottom right, #000 0%, #17a2b8 50%, #17a2b8 50%, #17a2b8 66%);
}

/*search courses*/
.search{
    background-image: linear-gradient(to top left, #000 0%, #adb5bd 50%, #adb5bd 50%, #adb5bd 66%);
    color: white;
    padding: 16px 20px;
    border: 1px solid #adb5bd;
    cursor: pointer;
    width: 14%;
    height: 0%;
    margin-bottom:10px;
    opacity: 1;
    float: left;
    margin-left: 0px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 10px;
}
.csearch{
    color: black;
    text-align: left;
    font: 20px bold Arial;
    margin-right: 50px;
    margin-top: 15px;
}
/*file upload*/

#add-button{
    background-image: linear-gradient(to top left, #000 0%, #adb5bd 50%, #adb5bd 50%, #adb5bd 66%);
    color: black;
    padding: 6px 12px;
    border: 1px solid #adb5bd;
    cursor: pointer;
    width: 14%;
    height: 0%;
    opacity: 1;
    float: left;
    margin-left: 30%;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 10px;
}

/*manage exam*/

.headings a{
    font-size:18px;
    float:left;
    display: inline;
    width: 150px;
    border-bottom: 1px solid black;
}


#view1{
    margin-left: 0%;
    font-size:18px;
    float:left;
    display: block;
    text-decoration: none;
}

#view2{
    font-size:18px;
    float:left;
    display: block;
    text-decoration: none;
}
#view3{
    font-size:18px;
    float:left;
    display: block;
    text-decoration: none;
}

#view1 a{
    float: left;
    display: block;
    text-decoration: none;
    color: #707070;
    width:150px;
}
#view2 a{
    float: left;
    display: block;
    text-decoration: none;
    color: #707070;
    width: 150px;
}
#view3 a{
    float: left;
    display: block;
    text-decoration: none;
    color: #707070;
    width: 150px;
}


/*manage user*/

.headingstu a{
    font-size:18px;
    float:left;
    display: inline;
    width: 250px;
    border-bottom: 1px solid black;
}


#viewst1{
    margin-left: 0%;
    font-size:18px;
    float:left;
    display: block;
    text-decoration: none;
}

#viewst2{
    font-size:18px;
    float:left;
    display: block;
    text-decoration: none;
}
#viewst3{
    font-size:18px;
    float:left;
    display: block;
    text-decoration: none;
}

#viewst1 a{
    float: left;
    display: block;
    text-decoration: none;
    color: #707070;
    width:250px;
}
#viewst2 a{
    float: left;
    display: block;
    text-decoration: none;
    color: #707070;
    width: 250px;
}
#viewst3 a{
    float: left;
    display: block;
    text-decoration: none;
    color: #707070;
    width: 250px;
}

#add-button1{
    background-image: linear-gradient(to top left, #000 0%, #adb5bd 50%, #adb5bd 50%, #adb5bd 66%);
    color: black;
    padding: 6px 12px;
    border: 1px solid #adb5bd;
    cursor: pointer;
    width: 14%;
    height: 0%;
    opacity: 1;
    float: left;
    margin-left: 10%;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 10px;
}

.fstupload{
    margin-left: 30%;
}
